<section id="banner" class="home-banner mt-3">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <img src="../../../assets/globes.png" width="100%"  class="pointer" routerLink="/donate"/>
      </div>
    </div>
    <div class="row" style="border-bottom: 8px solid #ff3465;">
      <div class="col-lg-5 col-md-5 col-sm-12">
        <h3 class="banner-heading">About Tree of Light</h3>
        <p class="banner-paragraph">The HospiceWits tree-lighting ceremony continues to be a beacon of hope, strength and celebration of life.</p>
      </div>

      <div class="d-none d-sm-block col-lg-7 col-lg-7 col-sm-12 mdl-textfield--align-right">
        <img src="../../../assets/tree.png"width="100%" />
      </div>
    </div>

  </div>

  <div class="row pb-4 pt-4">
    <div class="col-lg-4 col-md-4 col-sm-12 mt-1 small-device-full-button text-center">
      <button class="btn"
              style="background-color:#0e0e0e;color: #fff; letter-spacing: 5px"
              routerLink="/donate" routerLinkActive="router-link-active">Donate Now</button>
    </div>

    <div class="col-lg-4 col-md-4 mt-1 col-sm-12 small-device-full-button text-center">
      <button class="btn"
              style="background-color:#0e0e0e;color: #fff;letter-spacing: 5px"
              routerLink="/dedications" routerLinkActive="router-link-active">Dedications</button>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 mt-1 small-device-full-button text-center">
      <button class="btn"
              style="background-color:#0e0e0e;color: #fff;letter-spacing: 5px"
              routerLink="/contact" routerLinkActive="router-link-active">Contact Us</button>
    </div>
  </div>
</section>

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-12"></div>
      <div class="d-none d-sm-block col-lg-3 col-md-3 col-sm-12 text-right " style="background-color:#ff3465;padding: 5px">
        <h4>Globes Donated</h4>
      </div>
      <div class="d-none d-sm-block col-lg-2 col-md-2 col-sm-12 text-center" style="background-color:#ff3465;padding: 5px" >
        <h4>HospiceWits</h4>
      </div>
    </div>
    <div class="row ">
      <div class="col-lg-7 col-md-7 col-sm-12">
        <h5 class="about-tree-of-light mt-3">How It Works</h5>
        <p class="about-tree-of-light-paragraph">Donate Now to select and customise your virtual remembrance globe
          in celebration of a loved one and add it to our tree. View and share your dedicated messages
          with friends, family and colleagues on your favourite social media platform. </p>

        <p class="about-tree-of-light-paragraph">Join us for the tree-lighting ceremony on the 24th of November
          2019 at the Johannesburg Zoo. The special event continues to be a beacon of hope, strength and a
          celebration of life</p>

        <p class="about-tree-of-light-paragraph">The funds raised from this initiative ensure that HospiceWits
          continues to provide hope, comfort and support to thousands of patients and families per year who
          have been impacted by limiting illness.</p>

        <p class="about-tree-of-light-paragraph">If you would like to purchase a remembrance globe in memory of a
          loved one or you'd simply like to celebrate the life of someone special, please click on the Donate
          Now button to dedicate your globe online.</p>
      </div>
      <div class="d-none d-sm-block col-lg-5 col-md-5 col-sm-12 mb-3 hidden-sm text-center">
        <div class="row">
          <div class="col-3 offset-3 text-center">
            <div class="globes-counter mt-5">
              <p class="">{{totalGlobes}}</p>
          </div>
        </div>

        </div>

      </div>
    </div>

  </div>


</section>
