<footer class="footer-bg">
    <div class="container-fluid padding">
        <div class="row pt-3 pr-5">
            <div class="col-md-4">
                <img src="../../../assets/hospice-logo.png" width="100px" />
                <p>&copy;2024. All rights reserved</p>
            </div>
            <div class="col-md-4">
                <p>info@hostpicewits.co.za<br /></p>
                <p>+27 11 483 9100</p>
            </div>

            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <a href="https://hospicewits.co.za/donate"><li>Donate</li></a>
                            <a href="https://hospicewits.co.za/our-story-a-history-of-hospicewits/"> <li>About</li></a>
                            <a href="https://hospicewits.co.za/"><li>Services</li></a>
                            <a href="https://hospicewits.co.za/posts"><li>News</li></a>
                        </ul>
                    </div>

                    <div class="col-md-6">
                        <ul>
                            <a href=" http://www.facebook.com/hospicewits"><li>Facebook</li></a>
                            <a href="http://twitter.com/hospicewits"><li>Twitter</li></a>
                            <a href="https://www.instagram.com/hospicewits/"><li>Instagram</li></a>
                            <a href="https://www.youtube.com/channel/UCQb8mE6bPMthcrOvPz6PDug"><li>Youtube</li></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
