<div class="container">
  <div class="row tree-of-light-banner mt-3">
    <div class="col-lg-5 col-md-5 col-sm-12 mt-5">
      <h3 class="mt-5">VIEW <br>YOUR GLOBE</h3>
      <p>Our initiative ensure that
        hope, comfort and support are
        provided to patients and
        families on the journey of a
        life-limiting illness.</p>
    </div>
    <div class="d-none d-sm-block col-lg-7 col-md-7 col-sm-12">
      <img src="../../../assets/d_top_red_buble.png">
    </div>
  </div>

  <div class="row search-section">
    <div class="col-10 offset-1 mt-5 mb-5" style="background-color: #fff">
      <div id="demo" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="container carousel-inner no-padding">
        <div class="carousel-item active mt-3 mb-3">
          <div class="col-xs-4 col-sm-4 col-md-4" (click)="searchGlobeByTitle('Individual Globe')">
            <img src="../../../assets/individual.png"  style="float:left; width: 30px"/>
           <div class="text-center">
             <p><strong>Individuals</strong><br>
               <small>View all individual<br> Light Bulbs</small></p>
           </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4" (click)="searchGlobeByTitle('Corporate Globe')">
            <img src="../../../assets/corporate.png"  style="float:left; width: 30px"/>
            <div class="text-center">
              <p><strong>Corporate</strong><br>
                <small>View all corporate<br> Light Bulbs</small></p>
            </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4" (click)="searchGlobeByTitle('Halo of Light')">
            <img src="../../../assets/halo.png"  style="float:left; width: 30px"/>
            <div class="text-center">
              <p><strong>Halo of Light</strong><br>
                <small>View all Halo of Light<br> Light Bulbs</small></p>
            </div>
          </div>
        </div>
        <div class="carousel-item  mt-3 mb-3">
          <div class="col-xs-4 col-sm-4 col-md-4" (click)="searchGlobeByTitle('Orb')">
            <img src="../../../assets/orb.png"  style="float:left; width: 30px"/>
            <div class="text-center">
              <p><strong>ORB</strong><br>
                <small>View all ORB<br> Light Bulbs</small></p>
            </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4" (click)="searchGlobeByTitle('Branch')">
            <img src="../../../assets/branch.png"  style="float:left; width: 30px"/>
            <div class="text-center">
              <p><strong>Branch</strong><br>
                <small>View all Branch<br> Light Bulbs</small></p>
            </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4" (click)="searchGlobeByTitle('Bright Star')">
            <img src="../../../assets/bright.png"  style="float:left; width: 30px"/>
            <div class="text-center">
              <p><strong>Bright Star</strong><br>
                <small>View all Bright Star<br> Light Bulbs</small></p>
            </div>
          </div>
        </div>
        <div class="carousel-item  mt-3 mb-3">
          <div class="col-xs-4 col-sm-4 col-md-4" (click)="searchGlobeByTitle('String')">
            <img src="../../../assets/string.png"  style="float:left; width: 30px"/>
            <div class="text-center">
              <a><strong>String</strong><br>
                <small>View all String<br> Light Bulbs</small></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    </div>
  </div>

  <div class="row search-section">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center mt-3 mb-3">
      <input type="text" maxlength="35"  [(ngModel)]="searchName"  placeholder="Enter a name to search" (keyup.enter)="searchGlobeFromTree(searchName)">
    </div>
  </div>

  <div class="row justify-content-end pb-2 pt-3" style="background-color: #000; color: #fff;">
    <div class="col-lg-12 col-md-12 col-sm12 text-right">
      <h5>Globes Donated</h5>
    </div>
  </div>

  <div class="row justify-content-end" style="background-color: #000;">
    <div class="col-lg-5 col-md-5 col-sm12 globes-donated-counter">
      {{globesDonated}}
    </div>
  </div>
  <div class=" row justify-content-end" style="background-color: #000;">
    <div class="col-lg-12 col-md-12 col-sm-12 mt-5">
      <img src="../../../assets/tree_of_light.jpg" width="80%" />

      <div  *ngFor="let treeGlobe of dedicationTreeGlobes" [ngStyle] = "{
                          'top': treeGlobe.top,
                          'left': treeGlobe.left,
                          'position': 'absolute'
                        }">
        <img src="{{treeGlobe.treeUrl}}" data-toggle="modal" data-target="#exampleModal"
             (click)="showGlobeDetails(treeGlobe)"  style="cursor: pointer; width: 20px"/>
      </div>
    </div>
  </div>

  <div class="row results" *ngIf="searchResult">
    <div class="col-7 text-center offset-2 p-3">
      <div *ngIf="results > 0; then thenBlock else elseBlock"></div>

      <ng-template #thenBlock>
        <div class="record" *ngFor="let bulb of bulbs">
          <img src="../../../assets/top_red_buble.png" width="100%"/>
        <h4 class="mt-3">In<br>Memory of</h4>
        <h2>{{bulb.name}}</h2>
        <p>"{{bulb.message}}"</p>
          <img src="../../../assets/bulb_success.png" />
          <h4>{{bulb.title}}</h4>
        </div>
      </ng-template>

      <ng-template #elseBlock>
        <h5>We could find the bulb with that name. </h5>

        <button class="btn btn-warning mt-5" (click)="showGlobes()">Dismiss</button>
      </ng-template>
    </div>

  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" >{{globeTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <h5>{{boughtBy}}</h5>
          <img src="{{treeUrl}}" /><br><br/>
          <strong>Bought For: </strong><br> {{globeFor}}<br><br/>
          <strong>Dedication Message : </strong> <br>{{message}}<br>
        </div>
        <div class="modal-footer text-left">
          <share-buttons [theme]="'default'"
                         [include]="['facebook','twitter','linkedin','whatsapp','sms','email','print']"
                         [show]="5"
                         [showText]="true"
                         [title]="globeTitle"
                         [description]="message"
                         [image]="treeUrl"
                         [url]="'https://www.tree-of-light.co.za/dedications'"
                         [autoSetMeta]="true"
          ></share-buttons>

        </div>
      </div>
    </div>
  </div>

</div>
